.card {
    position: relative;
}

.card img {
    max-width: 80%;
    max-height: auto;
    display: block;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 10px;

}

  .card .front {
    transform: rotateX(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
  }
  .flipped .front {
    transform: rotateX(0deg);
    transition-delay: 0.2s;
  }

  .card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
  }
  .flipped .back {
    transform: rotateX(90deg);
    transition-delay: 0s;
  }